django
django-environ
django-filter
django-extensions
django-rq
ipython
ipdb
requests
Werkzeug
django-cors-headers
djangorestframework
djangorestframework-jwt
django-cors-headers
Celery
django-celery-results
gunicorn
gevent
docker-compose
psycopg2-binary
model_mommy